// Body
$body-bg: #f5f8fa;
$theme-colors: ( "primary": #f4645f, );
// Typography
$font-family-sans-serif: "Raleway",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// $bitbucket:#205081;
// $linkedin:#0077b5;
$facebook:#3b5998;
$github:#333;