// Body
$body-bg: #f5f8fa;
$theme-colors: ( "primary": #f4645f, );
// Typography
$font-family-sans-serif: "Raleway",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// $bitbucket:#205081;
// $linkedin:#0077b5;
$facebook:#3b5998;
$github:#333;
$h1-font-size: $font-size-base * 3.9;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 1.9;
$h4-font-size: $font-size-base * 1.6;
$h5-font-size: $font-size-base * 1.40;
$h6-font-size: $font-size-base;
$spacer:1.6rem;