    // Fonts
    // Variables
    @import "variables";
    @import "~bootstrap/scss/bootstrap";
    @import "~bootstrap-vue/dist/bootstrap-vue";
    @import "global";
    .btn {
        margin-left: 8px;
        &.facebook {
            color: white;
            background-color: $facebook;
            margin-left: 8px;
        }
        &.github {
            color: white;
            background-color: $github;
            margin-left: 8px;
        }
    }
    
    body,
    html {
        color: gray("700")
    }
    
    #app {
        a,
        .btn-link {
            text-decoration: none !important;
        }
    }