    // Fonts
    // Variables
    @import "variables";
    @import "~bootstrap/scss/bootstrap";
    @import "~bootstrap-vue/dist/bootstrap-vue";
    @import "global";
    @import "singlePost";
    .btn {
        &.facebook {
            margin-left: 8px;
            color: white;
            background-color: $facebook;
            margin-left: 8px;
        }
        &.github {
            margin-left: 8px;            
            color: white;
            background-color: $github;
            margin-left: 8px;
        }
    }

    html {
        font-size: 16px;
        body {
            color: gray("700");
            p {
                font-size: 1.3rem;
            }
        }
    }

    #app {
        a,
        .btn-link {
            text-decoration: none !important;
        }
    }