@import "./includes/loader";
@import "~bootstrap/scss/functions";
@import "./includes/post";
.bg-white {
    background-color: white;
}

.btn-fa {
    color: gray('400') !important;
    position: relative;
    &:not(:last-of-type)::after {
        content: "";
        position: absolute;
        height: 30%;
        width: 1px;
        right: -1px;
        top: 50%;
        transform: translateY(-50%);
        background-color: gray('400');
    }
}

.abs-vc{
    top:50%;
    transform: translateY(-50%);
}

.abs-hc{
    left: 50%;
    transform: translateX(-50%);
}

.abs-hc.abs-vc{
    transform: translate(-50%,-50%);
    
}

#admin-menu {
  position: fixed;
}

.noScroll{
    overflow: hidden;
}